*{
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #fefefe;
  background-image: linear-gradient(#849ED2 0%, #123269 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
  margin: 0;
  min-height: 100vh;
}

.main {
  padding: 50px 15px;
}

.todo-holder {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.container {
  padding: 30px;
}

.input-holder {
  margin: 0 auto 30px;
  position: relative;
}

.input-item {
  width: 100%;
  padding: 10px 50px 10px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #A2B9D6;
  transition: all 1s ease-out;
  font-size: 20px;
  color: #fff;
}

.input-item:focus {
  box-shadow: 0 0 10px #133167;
}

.input-item::placeholder {
  color: #fff;
}

.add-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  border-left: 1px solid #fff;
  background: #5575AD;
  border-radius: 0 4px 4px 0;
  color: #fff;
  width: 40px;
  cursor: pointer;
  font-size: 30px;
  outline: none;
}

.list {
  height: 500px;
  overflow-y: auto;
  padding: 0 10px;
  border: 2px solid #BAC0D2;
  border-radius: 4px;
}

.todo-list-item {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: #A6A7B0;
  color: #fff;
  min-height: 39px;
}

/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}