*{
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #fefefe;
  background-image: linear-gradient(#849ED2 0%, #123269 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 15px;
  margin: 0;
  min-height: 100vh;
  color: #000;
}

.header {
  padding: 0 0 30px;
}

.button-holder {
  display: flex;
  justify-content: flex-end;
}

.contacts-holder {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.container {
  padding: 30px;
}

.input-holder {
  position: relative;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  opacity: 0;
  position: absolute;
  top: -55px;
  right: 50%;
  transform: translateX(50%);
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border: 2px solid red;
  background: red;
  border-radius: 4px;
  transition: all 1s ease-out;
}

.error.visible {
  opacity: 1;
}

.error::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
  background:red;
  width: 16px;
  height: 16px;
}

.error p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.input-item {
  width: 100%;
  padding: 9px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #A2B9D6;
  transition: all 1s ease-out;
  font-size: 16px;
  color: #fff;
  margin-right: 5px;
}

.input-item:focus {
  box-shadow: 0 0 10px #133167;
}

.input-item::placeholder {
  color: #fff;
}

.add-button {
  background: #5575AD;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  outline: none;
  border: none;
  transition: all 1s ease-out;
  padding: 5px;
}

.add-button:hover {
  box-shadow: 0 0 10px #133167;
}

.contacts-list {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  border: 2px solid #BAC0D2;
  border-radius: 4px;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BAC0D2;
}

.item-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-list .head-item {
  background: #BAC0D2;
  color: white;
  padding: 10px;
  height: max-content;
  width: 155px;
  border-right: 1px solid #fff;
  text-align: center;
  font-weight: 700;
}

.contacts-list .head-item:last-child,
.contacts-list .item:last-child {
  width: 71px;
  border-right: none;
}

.contacts-list .item:last-child {
  padding: 0;
}

.contacts-list .item {
  color: #000;
  padding: 10px 5px;
  width: 155px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #BAC0D2;
}

.remove-btn,
.edit-btn {
  width: max-content;
  height: max-content;
  background: #BAC0D2;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: all 1s ease-out;
  margin: 5px;
}

.remove-btn:hover,
.edit-btn:hover {
  opacity: 0.6;
} 

.done {
  background: #089128;
}

.head-row {
  position: fixed;
}

.list {
  margin-top: 38px;
}

/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}